/* CSS GLOBAL RESET */
*{outline-color:invert;outline-style:none;outline-width:medium;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100.01%; font-family: inherit; vertical-align: baseline;}
:focus {outline: 0; }
body {line-height: 1; color: black; background: white; font-size:100.01%;}
ol, ul { list-style: none;}
table { border-collapse: separate; border-spacing: 0;}
caption, th, td { text-align: left; font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
/* fixing firefox bug */
html:after, div:after, ol:after, li:after, form:after, ul:after, dl:after {content:".";display:block;clear:both;visibility:hidden;height:0;overflow:hidden;}


html, body {
	background: #f5f5f5;
	font: normal normal 10px/1.2em arial;
	color:#777;
}

/* containers */
.content {
	margin: 60px 20px 20px;
	padding: 20px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 2px 3px 0 rgba(0,0,0,.06);
}

/* logo */
.logo {
	float:left;
	margin: 13px 10px 13px 7px;
}

/* titulos */
h2 {
	font-size:24px;
	font-weight: normal;
	color:#2b2b2b;
	line-height:1.2em;
	margin: -20px -20px .8em;
	padding: 20px 20px 20px;
	letter-spacing: -.02em;
	border-bottom:1px dashed #e7e7e7;
	border-radius: 4px 4px 0 0;
}
h3 {
	font-size:20px;
	font-weight: normal;
	color:#2b2b2b;
	line-height:1.2em;
	margin: 0 0 .8em;
	letter-spacing: -.02em;
}

/* dashboard */
.dashboard-section {
	float:left;
	width: 45%;
	height: 100%;
}
.dashboard-section-processos {margin-right: 10%;}
.dashboard-section h3 {text-align:center;}

.score-causas {
	text-align:center;
	padding-top:30px;
}
.score-causas-item {
	position:relative;
	top:0;
	margin:0 2% 5%;
	width: 29%;
	display: inline-block;
	border:1px solid #e7e7e7;
	border-radius:4px;
	text-decoration:none;
	overflow: hidden;
	box-shadow: 1px 2px 3px 0 rgba(0,0,0,.06);
  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
	
}
.score-causas-item:hover, .score-causas-item:focus {
	top:-10px;
}
.score-number {
	display: block;
	padding: 20px 10px;
	margin-bottom:24px;
	font-size:70px;
	text-align: center;
	line-height:1em;
	font-weight: bolder;
	color:#fff;
	text-decoration:none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: 4px 4px 0 0;
  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
}
.score-causas-item:hover .score-number, .score-causas-item:focus .score-number {
	background: rgba(0,0,0,.2);
}
.score-label {
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	display: block;
	text-align:center;
	padding:5px;
	background:#333;
	color:#e7e7e7;
	font-size:14px;
	text-decoration:none;
	border-radius: 0 0 4px 4px;
}
.causa-tributaria {margin-left:0;background:#2790B0;}
.causa-trabalhista {background:#A95E6F;}
.causa-comercial {margin-right:0;background:#94BA65;}


/* Página do Calendário */
div.container { width: 1000px; margin: 10px auto; }
h1.titulo { font:bold 16px Tahoma; color:#222; }

div.container { 
	width: 700px;
	margin: 10px auto;
}

div.container h1 { font-size:20px; font-weight: bold;}
div.container p { 
	margin: 10px 0;
	font: 13px Arial;
}
div.exemplo, div.bloco { 
	background : #f1f1f1; 
	margin: 20px 0;
	padding: 10px;
}
div.exemplo div.accordion{ padding-bottom: 140px; }



div.exemplo pre, div.bloco pre { 
	background : #ffa;
	padding:10px;
	font: 14px Trebushet MS;
	overflow: auto;
}

div.bloco h2, div.exemplo h2{ font-size:22px; margin-bottom: 5px; }

div.bloco table{ width: 100%; margin-top: 10px; }
div.bloco table thead tr th{ padding:5px; font-size: 16px; font-weight: bold; }
div.bloco table tbody tr td{ padding:5px; color:#333; }


table.opcoes tr td, table.opcoes tr th { border-right: 1px solid #000; border-top: 1px solid #000; }
table.opcoes { border-left:  1px solid #000;  border-bottom: 1px solid #000; }


/* table */
.lawyer-table {
	width:100%;
	border-collapse: collapse;
	padding:0;
	margin-bottom: 30px;
	font-family: inherit;
	color: #777;
}
.lawyer-table caption {display:none;}
.lawyer-table td, .lawyer-table th{
	padding: 5px 10px;
	border:1px solid #e7e7e7;
	font-size: 14px;
	line-height: 1.4em;
}
.lawyer-table th {
	background: #333;
	border-color: #2b2b2b;
	color:#e7e7e7;
	font-weight: bolder;
}
.lawyer-table tr {background:#f5f5f5;}
.lawyer-table tr:nth-child(odd) {background: #fff;}
.lawyer-table tr:hover {background:#ddf0ff;}



/* boxes */
.box-processo {
	width:60%;
	margin-right: 5%;
	height: 100%;
	float:left;
}
.box-advogado {
	width: 35%;
	height:100%;
	float:left;
}